
body{
  padding: 0;
  margin: 0;
  font-size: 1.1em;
  font-family: Comic Sans MS, sans-serif, serif, Verdana;
  height: 1000px;
}

body{
  //background: url('http://www.render911.ru/upload/resize_cache/iblock/d74/200_200_2/d74a6a9e965c4aac0648d6cac22c5769.jpg');
}

.header{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.content, .aside{
  height: 400px;
  margin-top: 60px;
}

.content{
  width: calc(70% - 36px);
  margin-left: 10px;
  margin-right: 10px;
  /* float: left; */
  display: inline-flex;
}

.aside{
  width: 30%;
  margin-left: 10px;
  display: inline-block;
  /* float: left; */
}

.footer{
  width: calc(100% - 40px);
  padding: 10px 20px 10px 0px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  overflow: hidden;
}

.color__blocks{
  background: rgba(255, 0, 255, 0.8);
}



.menu{
  position: relative;
}

.nav{
  z-index: 5;
  background: rgba(0,0,0,0);
}

.nav__bg-color_black{
  background: black;
}

.hor_item{
  padding: 15px;
}

.hor_content{
  display: none;
  position: absolute;
  background: black;
  min-width: 100%;
  left: 0;
  top: 100%;
}

.hor_content-mobile{
  position: absolute !important;
  top: 100%;
}

.hor_item:hover > .hor_content{
  display: block;
}

.ver_item{
  white-space: nowrap;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
}



.ver_content{
  position: absolute;
  left: 100%;
  top: 0%;
  background: black;
  display: none;
}

.ver_item:hover > .ver_content{
  display: block;
}

.ver_content, .hor_content{
  list-style: none;
  padding: 0;
  margin: 0;
}

.ver_item, .hor_item{
  position: relative;
  display: flex;
  align-items: center;
}

.ver_item:hover, .hor_item:hover{
  background: #AAA;
}

.hor_item:hover > a, .ver_item:hover > a{
  color: black !important;
}

a{
  text-decoration: none !important;
  color: white !important;
  display: block;
}

.nav_menu-item{
  align-self: center;
  width: 48px;
  height: 48px;
  background: url('menu-icon.png');
  background-size: 100% 100%;
  float: right;
}

.nav_menu-item__close{
  background: url('menu-icon-close.png');
  background-size: 100% 100%;
}

.logo{
  /* background: url(''); */
  /* background-size: 100% 100%; */
  margin: 15px;
  /* float: left; */
  height: 48px;
}

.logo_icon{
  height: 100%;
}





.gallery{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  margin-top: 78px;
}

.gallery_container{
  height: 100%;
}

.gallery_control-left{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  position: relative;
}

.gallery_control-right{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;
}

.gallery_control-image{
  text-align: center;
  width: 30px;
  height: 30px;
  background: white;
  color: black;
  border-radius: 50%;
  position: absolute;
  border: black solid 1px;
}

.gallery_slide{
  width: 100%;
  height: 100%;
  position: absolute;
  background: white;
  top: -100%;
  z-index: -1;
  display: grid;
}

.gallery_slide__selected{
  left: 0;
  top: 0;
}

@keyframes right-to-left {
  0% {
    top:0%;
    left: 100%;
  }
  to {
    top: 0;
    left: 0%;
  }
}

@keyframes left-to-right {
  0% {
    top:0%;
    left: -100%;
  }
  to {
    top: 0;
    left: 0%;
  }
}

.gallery_slide__right-to-left{
  animation-duration: 1s;
  animation-name: right-to-left;
}

.gallery_slide__left-to-right{
  animation-duration: 1s;
  animation-name: left-to-right;
}

.gallery_slide__to-left{
  transition: 1s;
  left: -100%;
  top: 0%;
}

.gallery_slide__to-right{
  transition: 1s;
  left: 100%;
  top: 0%;
}

.invisible{
  top: -100%;
  left: 0;
}

.image_1{
  background: url('image1.jpg') no-repeat center/cover;
}

.image_2{
  background: url('image2.jpg') no-repeat center/cover;
}

.image_3{
  background: url('image3.jpg') no-repeat center/cover;
}
