

body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
}

.header{
  background: #fff;
  justify-content: center;
}

.logo{
  padding-top: 10px;
  padding-bottom: 10px;
}

.promotion{
  background-color: #39ade2;
  overflow: hidden;
}

.promotion__header{
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: white;
  padding-top: 100px;
  padding-bottom: 15px;
  line-height: 1em;
}

.promotion__desc{
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.self-btn{
  background-color: #fc5d54;
  border-radius: 6px;
}

.self-btn:hover{
  background-color: #ca3b32;
  cursor: pointer;
}

.self-btn_link{
  text-decoration: none;
  //height: 50px;
  //line-height: 50px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.7em;
  white-space: nowrap;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.self-btn_link:hover{
  text-decoration: none;
  color: #fff;
}

.promotion_bg{
  margin-bottom: 40px;
}

.promotion_bg-arrow{
  position: relative;
}

.promotion_bg-arrow_img{
  position: absolute;
  width: 110px;
  top: -50px;
  left: -20px;

}

.promotion_bg-seo{
  width: 600px;
  min-width: 600px;

}

.promotion_bg-seo_img{
  width: 100%;
}



.accent{
  background-color: white;
  padding-bottom: 85px;
  padding-top: 35px;
}

.accent_card{
  background-color: #ebf8fe;
  padding: 40px;
  padding-left: 30px;
  padding-right: 30px;
  width: 260px;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 50px;
}

.accent_card:first-child{
  //margin-top: 0px;
}

.accent_card_image-container{
  width: 100%;
  padding-bottom: 20px;
}

.accent_card_image{
  margin: auto;
  display: block;
}

.accent_card_title{
  color: #fc5d54;
  font-weight: bold;
  text-align: center;
  padding-bottom: 15px;
}

.accent_card_desc{
  text-align: center;
  color: #475966;
  font-size: 0.6em;
}



.benefit{
  color: white;
  background-color: #6acff7;
  padding: 10px;
  padding-bottom: 90px;
}

.benefit_title{
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
  padding-top: 90px;
}

.benefit_desc{
  text-align: center;
  font-size: 0.8em;
  width: 70%;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 40px;
}

.benefit_card{
  display: inline-flex;
  padding-bottom: 20px;
  min-width: 350px;
}

.benefit_card_image{
  margin: 20px;
  display: block;
  width: 50px;
  height: 50px;
}

.benefit_card_image-bg{
  padding: 1px;
  border-radius: 50%;
  background-color: #39ade2;
  margin-right: 15px;
  display: block;
}

.benefit_card_image-container{

}

.benefit_text-container{
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
}

.benefit_card_title{
  font-weight: bold;
  padding-bottom: 5px;
}

.benefit_card_desc{
  font-size: 0.6em;
}

.tariff{
  padding-top: 100px;
  padding-bottom: 100px;
}

.tariff_title{
  font-size: 1.3em;
  font-weight: bold;
  color: #fc5d54;
  padding-bottom: 50px;
}

.tariff_card{
  background-color: #ebf8fe;
  padding: 40px !important;
  margin: 15px;
}

.tariff_card_image{
display: flex;
justify-content: center;
}

.tariff_card_title{
    font-size: 0.6em;
    padding-bottom: 10px;
    padding-top: 15px;
    text-align: center;
    color: #475966;
}


.map{
  padding-left: 0;
  padding-right: 0;
}

.feedback{
  padding-top: 90px;
  padding-bottom: 90px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ebf8fe;
}

.feedback_card{
  padding-top: 40px;
  padding-left: 0;
  background-color: #fff;
  display: inline-flex;
  margin: 10px;
  overflow: hidden;
}

.feedback_card_image-container{
  //display: flex;
}

.feedback_card_image{
  width: 130px;
  height: 130px;
}

.feedback_card_text-container{
  padding-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
}

.feedback_card_char-name{
  color: #fc5d54;
  font-weight: bold;
  font-size: 1em;
  line-height: 1em;
  padding-bottom: 15px;
}

.feedback_card_title{
  color: #fc5d54;
  font-size: 0.6em;
  padding-bottom: 15px;
}

.feedback_card_desc{
  color: #475966;
  font-size: 0.6em;
}


.steps{
  background-color: #fff;
  padding-top: 60px;
  padding-bottom: 60px;
}

.steps-vertical{
}

.steps_card{
}

.steps_card-vertical{
  display: flex;
}

.steps_card_circle{
  border: black solid 1px;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.steps_card_image{
  display: block;
  margin: auto;
}

.steps_card_title{
  padding-top: 15px;
  font-size: 1em;
  font-weight: bold;
  display: block;
  margin: auto;
}

.steps_card_desc{
  font-size: 0.6em;
  color: #475966;
  text-align: center;
  padding-top: 30px;
  width: 140px;
}

.steps_card_desc-vertical{
  padding-top: 0;
  align-self: center;
  padding-left: 20px;
  width: 170px;
  text-align: left;
}

.top-arrow{
  height: 100%;
}

.bottom-arrow{
  height: 100%;
  align-self: flex-end;
  position: relative;
  top: -40px;
}

.bottom-arrow-vertical{
  margin: auto;
  position: relative;
  top: 0;
  left: 20px;
  height: auto;
}

.top-arrow-vertical{
  margin: auto;
  position: relative;
  top: 0;
  left: 90px;
  height: auto;
}


.request{
  padding-top: 80px;
  background-color: #5cc2f1;
  position: relative;
}

.form{
}

.request-form{
  //width: 100%;
  position: relative;
  color: #fff;
}

.form_input{
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #bbb;
  padding: 7px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0.7em;
  border-radius: 5px;
  outline: none;
}

.form_input:last-child{
  margin-bottom: 0;
}

.request-bg{
  height: 80%;
  position: absolute;
  right: 100px;
  bottom: 0;
}

.request-bg_image{
  height: 100%;
}

.form_title{
  font-size: 1.2em;
  font-weight: 1000;
  white-space: nowrap;
  padding-bottom: 10px;
}

.form_desc{
  font-size: 0.6em;
  white-space: nowrap;
  padding-bottom: 40px;
}

.form-request_btn-container{
  padding-top: 20px;
}

.form_btn{
  outline: none;
  border-radius: 5px;
  border: 1px solid #bbb;
  text-align: center;
}

.request-form_btn{
  width: 100%;
  text-transform: uppercase;
  font-size: 0.85em;
  color: white;
  background-color: #fc5c54;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.request-form_btn:hover{
  background-color: #ca3b32;
  cursor: pointer;
}

.request_arrow-image{
  margin: auto;
  display: block;
  padding-top: 20px;
}


.footer{
  background-color: #394145;
  padding-top: 20px;
}

.footer_credits{
  display: flex;
  color: #fff;
  white-space: nowrap;
  font-size: 0.8em;
  align-items: center;
}

.footer_phone-number{
  padding-right: 20px;
}
