.slider {
  display: flex;
  flex-wrap: nowrap;
  height: 400px;
  position: relative;
}
.slider .control-wrapper {
  z-index: 5;
  position: absolute;
  height: 100%;
  display: flex;
  width: 66px;
  transition: right 1s, left 1s, width 1s;
}
.slider .control-wrapper-right {
  right: -66px;
  justify-content: flex-end;
}
.slider .control-wrapper-left {
  left: -66px;
}
.slider .control-wrapper .control {
  align-self: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 132, 0, 0);
  width: 66px;
  height: 66px;
  display: flex;
  position: relative;
}
.slider .control-wrapper .control:hover {
  background-color: rgba(255, 132, 0, 0.5);
  transition: all 1s;
  cursor: pointer;
}
.slider .control-wrapper .control::before {
  content: '';
  border-radius: 50%;
  width: 43px;
  height: 43px;
  position: absolute;
  background-color: #ff8400;
  left: 11.5px;
  top: 11.5px;
  opacity: 1;
}
.slider .control-wrapper .control img {
  display: block;
  align-self: center;
  z-index: 5;
  user-select: none;
}
.slider .control-wrapper .control-left {
  transform: rotate(180deg);
}
@media (max-width: 1352px) {
  .slider .control-wrapper {
    transition: right 1s, left 1s, width 1s;
  }
  .slider .control-wrapper-left {
    left: 0;
  }
  .slider .control-wrapper-right {
    right: 0;
  }
}
.slider .content {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.slider .content .slide {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: absolute;
  top: 0;
}
* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
.block-size {
  width: 100%;
  max-width: 1180px;
  min-width: 270px;
  margin-left: auto;
  margin-right: auto;
}
.hide {
  display: none !important;
}
.col {
  padding-left: 0px;
  padding-right: 0px;
}
.header {
  background: url("/public/images/header-bg.png") no-repeat center center;
  background-size: cover;
  position: relative;
}
.header .header-ellipse {
  display: block;
  position: absolute;
  bottom: -3px;
  left: calc(50% + 23px);
  opacity: 0.6;
}
.header .header-car {
  display: block;
  position: absolute;
  bottom: -70px;
  left: calc(50% - 35px);
}
@media (max-width: 800px) {
  .header .header-car,
  .header .header-ellipse {
    display: none;
  }
}
.header ul {
  width: 100%;
  max-width: 1180px;
  min-width: 270px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Montserrat";
  padding-top: 30px;
  white-space: nowrap;
  display: flex;
  flex-wrap: wrap;
  z-index: 10;
}
.header ul h1 {
  font-size: 30px;
  line-height: 60px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}
.header ul li {
  display: flex;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  width: auto;
  max-width: 100%;
  min-height: 50px;
}
.header ul li img {
  display: block;
  align-self: flex-start;
}
.header ul li div {
  display: block;
}
.header ul li div h3 {
  font-size: 20px;
  color: #ffffff;
  line-height: 30px;
  font-family: "Montserrat";
  font-weight: normal;
  text-align: right;
}
.header ul li:first-child {
  display: block;
  padding-left: 0;
  padding-top: 0;
}
.header ul li:last-child {
  padding-right: 0;
}
.header ul h2 {
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
  line-height: 30px;
  transition: all ease-in-out 0.15s;
}
.header ul h2:hover {
  transform: scale(1.03);
  transition: all ease-in-out 0.3s;
}
.header ul img + h2,
.header ul img + div {
  padding-left: 15px;
}
.header ul p {
  font-size: 14px;
  color: #ffffff;
  line-height: 22px;
  font-family: "Montserrat";
}
.header .mobile-menu-container {
  width: 100%;
  display: none;
  position: absolute;
  top: 42px;
  right: 0;
  z-index: 10;
}
.header .mobile-menu-container .menu-icon {
  z-index: 10;
  position: absolute;
  right: 0;
  margin-right: 42px;
  margin-top: 7px;
  width: 32px;
  height: 32px;
  background-image: url('/public/images/menu-icon.png');
}
.header .mobile-menu-container .menu-icon-close {
  background-image: url('/public/images/menu-icon-close.png');
  position: fixed;
}
.header .mobile-menu-container .popup-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
}
@media (max-width: 1190px) {
  .header h2 {
    font-size: 18px !important;
    line-height: 18px !important;
  }
  .header .email,
  .header .whatsapp,
  .header .phone {
    display: none;
  }
  .header .mobile-menu-container {
    display: block;
  }
  .header .mobile-menu-container .mobile-menu {
    display: flex;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    align-items: center;
  }
  .header .mobile-menu-container .mobile-menu-content {
    display: block;
    width: auto;
    padding: 0;
  }
  .header .mobile-menu-container .mobile-menu-content li {
    display: flex !important;
    padding-left: 0px;
    padding-right: 0;
    padding-top: 30px;
    min-height: 0;
    white-space: normal;
  }
  .header .mobile-menu-container .mobile-menu-content li div h3 {
    text-align: left;
  }
}
.header .block1 {
  width: 100%;
  max-width: 1180px;
  min-width: 270px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 55px;
  padding-bottom: 67px;
}
.header .block1 .font {
  font-size: 65px !important;
  font-family: "Montserrat";
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.231 !important;
}
.header .block1 h2 {
  font-size: 65px !important;
  font-family: "Montserrat";
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.231 !important;
}
.header .block1 h3 {
  font-size: 65px !important;
  font-family: "Montserrat";
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.231 !important;
  font-size: 55px !important;
}
.header .block1 h3 span {
  color: #ff8300;
}
.header .block1 h4 {
  font-size: 40px;
  font-family: "Montserrat Medium";
  color: #ffffff;
  line-height: 1.5;
  font-weight: normal;
  margin-top: 57px;
  position: relative;
}
.header .block1 h4 span {
  font-weight: bold;
}
.header .block1 h4 .yellow {
  color: #ff8300;
}
.header .block1 h3 + h4::before {
  content: '';
  position: absolute;
  top: 15px;
  left: 4px;
  width: 4px;
  background-color: #ff8a00;
  height: 91px;
}
.header .block1 h3 + h4 {
  padding-left: 24px;
}
.header .block1 .place {
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  height: 117px;
  width: 521px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 58px;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 60px;
}
.header .block1 .place img {
  display: block;
  margin-right: 20px;
}
.header .block1 .place .descritpion h5 {
  display: block;
  font-size: 24px;
  font-family: "Montserrat";
  color: #ffffff;
  font-weight: bold;
  line-height: 1.25;
}
.header .block1 .btn {
  margin-top: 60px;
  transition: all 0.5s;
  width: 460px;
  height: 80px;
  line-height: 80px;
  border-radius: 37px;
  background: -moz-linear-gradient(-93deg, #ffa300 3%, #ff8100 100%);
  background: linear-gradient(-93deg, #ffa300 3%, #ff8100 100%);
  background: -ms-linear-gradient(-93deg, #ffa300 3%, #ff8100 100%);
  font-family: "Montserrat";
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
}
.header .block1 .btn a {
  font-size: 20px;
}
.header .block1 .btn a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  text-align: center;
  border-radius: 37px;
  background-color: rgba(255, 255, 255, 0);
}
.header .block1 .btn a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease-in-out;
}
.header .block1 .btn:hover {
  transform: scale(1.01);
  transition: all 0.5s;
}
@media (max-width: 576px) {
  .header .block1 h2 {
    font-size: 29.9px !important;
  }
  .header .block1 h3 {
    font-size: 25.3px !important;
  }
  .header .block1 h4 {
    font-size: 18.4px;
    margin-top: 13.11px;
  }
  .header .block1 .place {
    width: calc(98%);
    height: 75.348px;
    margin-top: 13.8px;
  }
  .header .block1 .place img {
    width: 25%;
    margin-right: 9.2px;
  }
  .header .block1 .place .descritpion h5 {
    font-size: 13.248px;
  }
  .header .block1 .btn {
    margin-top: 13.8px;
    transition: all 0.5s;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 37px;
    background: -moz-linear-gradient(-93deg, #ffa300 3%, #ff8100 100%);
    background: linear-gradient(-93deg, #ffa300 3%, #ff8100 100%);
    background: -ms-linear-gradient(-93deg, #ffa300 3%, #ff8100 100%);
    font-family: "Montserrat";
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
  }
  .header .block1 .btn a {
    font-size: 16px;
  }
  .header .block1 .btn a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    text-align: center;
    border-radius: 37px;
    background-color: rgba(255, 255, 255, 0);
  }
  .header .block1 .btn a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease-in-out;
  }
  .header .block1 .btn:hover {
    transform: scale(1.01);
    transition: all 0.5s;
  }
  .header .block1 h3 + h4::before {
    content: '';
    position: absolute;
    top: 7px;
    left: 2px;
    width: 2px;
    background-color: #ff8a00;
    height: 42px;
  }
  .header .block1 h3 + h4 {
    padding-left: 15px;
  }
  .header .block1 div + h4 {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .header .block1 {
    padding-top: 25px !important;
    width: auto;
    padding-bottom: 40.2px;
  }
}
.block2 {
  width: 100%;
  max-width: 1180px;
  min-width: 270px;
  margin-left: auto;
  margin-right: auto;
}
.block2 h1 {
  font-size: 45px;
  font-family: "Montserrat";
  color: #010101;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 55px;
}
.block2 h1 span {
  font-weight: bold;
}
.block2 .product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 380px);
  justify-content: center;
  grid-gap: 20px;
}
.block2 .product-grid .product {
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 7px 8.1px 0.9px rgba(0, 0, 0, 0.04);
  padding-bottom: 85px;
  position: relative;
}
.block2 .product-grid .product .image {
  height: 235px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.block2 .product-grid .product h2 {
  font-size: 18px;
  font-family: "Montserrat";
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.block2 .product-grid .product p {
  text-align: center;
  font-size: 18px;
  font-family: "Montserrat Medium";
  color: #000000;
  text-transform: uppercase;
  line-height: 1.778;
}
.block2 .product-grid .product .btn {
  transition: all 0.5s;
  width: 236px;
  height: 41px;
  line-height: 41px;
  border-radius: 37px;
  background: -moz-linear-gradient(-93deg, #ffa300 3%, #ff8100 100%);
  background: linear-gradient(-93deg, #ffa300 3%, #ff8100 100%);
  background: -ms-linear-gradient(-93deg, #ffa300 3%, #ff8100 100%);
  font-family: "Montserrat";
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  margin: auto;
  position: absolute;
  bottom: 35px;
  left: 0;
  right: 0;
}
.block2 .product-grid .product .btn a {
  font-size: 14px;
}
.block2 .product-grid .product .btn a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  text-align: center;
  border-radius: 37px;
  background-color: rgba(255, 255, 255, 0);
}
.block2 .product-grid .product .btn a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease-in-out;
}
.block2 .product-grid .product .btn:hover {
  transform: scale(1.01);
  transition: all 0.5s;
}
@media (max-width: 576px) {
  .block2 {
    width: auto;
  }
  .block2 h1 {
    font-size: 31.05px;
    padding-top: 69px;
    padding-bottom: 37.95px;
  }
  .block2 .product-grid {
    grid-template-columns: repeat(auto-fit, 280px);
  }
  .block2 .product-grid .product h2 {
    font-size: 14.904px;
  }
  .block2 .product-grid .product p {
    font-size: 14.904px;
  }
}
.block3 {
  width: 100%;
  max-width: 1180px;
  min-width: 270px;
  margin-left: auto;
  margin-right: auto;
}
.block3 h1 {
  font-size: 45px;
  font-family: "Montserrat";
  color: #010101;
  text-transform: uppercase;
  line-height: 1.444;
  text-align: center;
  font-weight: normal;
  margin-bottom: 50px;
  margin-top: 100px;
}
.block3 h1 span {
  font-weight: bold;
}
.block3 .calculator {
  padding: 35px;
  padding-top: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 14px 32.2px 2.8px rgba(0, 0, 0, 0.05);
}
.block3 .calculator .fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.block3 .calculator .fields .item {
  display: flex;
  margin-right: 30px;
  margin-top: 40px;
}
.block3 .calculator .fields .item:last-child {
  margin-right: 0px;
}
.block3 .calculator .fields .item .circle {
  font-size: 18px;
  font-family: "Montserrat";
  color: #ffffff;
  font-weight: bold;
  line-height: 43px;
  width: 43px;
  background-color: #ff8400;
  border-radius: 50%;
  text-align: center;
  align-self: flex-start;
  margin-right: 10px;
}
.block3 .calculator .fields .item .descritpion p {
  font-size: 18px;
  font-family: "Montserrat Medium";
  color: #010101;
  line-height: 43px;
  margin-bottom: 3px;
}
.block3 .calculator .fields .item select,
.block3 .calculator .fields .item input {
  width: 100%;
  border-width: 1px;
  border-color: #cdcdcd;
  border-style: solid;
  border-radius: 5px;
  background-color: #ffffff;
  height: 40px;
  font-size: 14px;
  font-family: "Montserrat Medium";
  color: #030303;
  outline: none;
  padding-left: 10px;
}
.block3 .calculator .fields .item select {
  width: 270px;
}
.block3 .calculator .fields .item .descritpion + input {
  width: 335px;
  margin-left: 25px;
  margin-top: auto;
}
.block3 .calculator .fields .item .input-container {
  display: flex;
  white-space: nowrap;
}
.block3 .calculator .fields .item .unit {
  align-self: bottom;
  font-size: 18px;
  font-family: "Montserrat Medium";
  color: #010101;
  line-height: 40px;
  margin-top: auto;
  margin-left: 17px;
}
.block3 .calculator .btn {
  transition: all 0.5s;
  width: 385px;
  height: 68px;
  line-height: 68px;
  border-radius: 37px;
  background: -moz-linear-gradient(-93deg, #ffa300 3%, #ff8100 100%);
  background: linear-gradient(-93deg, #ffa300 3%, #ff8100 100%);
  background: -ms-linear-gradient(-93deg, #ffa300 3%, #ff8100 100%);
  font-family: "Montserrat";
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  margin: auto;
  margin-top: 45px;
}
.block3 .calculator .btn a {
  font-size: 20px;
}
.block3 .calculator .btn a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  text-align: center;
  border-radius: 37px;
  background-color: rgba(255, 255, 255, 0);
}
.block3 .calculator .btn a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease-in-out;
}
.block3 .calculator .btn:hover {
  transform: scale(1.01);
  transition: all 0.5s;
}
@media (max-width: 768px) {
  .block3 .calculator .fields {
    display: block;
  }
  .block3 .calculator .fields .item {
    width: 100%;
    display: block;
  }
  .block3 .calculator .fields .item .circle {
    min-width: 43px;
    margin: auto;
    margin-bottom: 15px;
  }
  .block3 .calculator .fields .item .descritpion {
    width: 100%;
  }
  .block3 .calculator .fields .item .descritpion p {
    width: 100%;
    text-align: center;
    line-height: 27px;
    margin-bottom: 15px;
  }
  .block3 .calculator .fields .item .descritpion select {
    width: 100%;
  }
  .block3 .calculator .fields .item .descritpion input {
    width: calc(95%);
  }
  .block3 .calculator .fields .item .descritpion + input {
    margin-left: 0;
    width: calc(95%);
    margin-top: 20px;
  }
}
@media (max-width: 576px) {
  .block3 h1 {
    margin-bottom: 50px;
  }
  .block3 .calculator {
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .block3 .calculator .fields .item:first-child {
    margin-top: 0px;
  }
  .block3 .calculator .btn {
    transition: all 0.5s;
    width: 100%;
    height: 50.048px;
    line-height: 50.048px;
    border-radius: 37px;
    background: -moz-linear-gradient(-93deg, #ffa300 3%, #ff8100 100%);
    background: linear-gradient(-93deg, #ffa300 3%, #ff8100 100%);
    background: -ms-linear-gradient(-93deg, #ffa300 3%, #ff8100 100%);
    font-family: "Montserrat";
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
    margin-top: 30px;
  }
  .block3 .calculator .btn a {
    font-size: 13.8px;
  }
  .block3 .calculator .btn a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    text-align: center;
    border-radius: 37px;
    background-color: rgba(255, 255, 255, 0);
  }
  .block3 .calculator .btn a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease-in-out;
  }
  .block3 .calculator .btn:hover {
    transform: scale(1.01);
    transition: all 0.5s;
  }
  .block3 h1 {
    font-size: 24.84px;
  }
}
@media (max-width: 768px) {
  .block3 {
    overflow: hidden;
  }
}
.block4 {
  width: 100%;
  max-width: 1180px;
  min-width: 270px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  white-space: normal;
}
.block4 h1 {
  font-size: 45px;
  font-family: "Montserrat";
  color: #010101;
  text-transform: uppercase;
  line-height: 1.444;
  text-align: center;
  font-weight: normal;
  margin-top: 100px;
}
.block4 h1 span {
  font-weight: bold;
}
.block4 .items {
  display: flex;
  width: auto;
  justify-content: center;
  flex-wrap: wrap;
}
.block4 .items .item {
  min-width: 379px;
  text-align: center;
  padding-top: 70px;
}
.block4 .items .item img {
  display: block;
  margin: auto;
}
.block4 .items .item h4 {
  font-size: 20px;
  font-family: "Montserrat";
  color: #040404;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 26px;
  padding-top: 20px;
  padding-bottom: 15px;
}
.block4 .items p {
  font-size: 18px;
  font-family: "Montserrat Medium";
  color: #040404;
  line-height: 1.444;
  letter-spacing: -0.03em;
}
@media (max-width: 576px) {
  .block4 .items .item {
    width: auto;
    min-width: 200px;
  }
  .block4 .items .item br {
    display: none;
  }
  .block4 .items .item h4 {
    line-height: 1.5;
    padding-bottom: 10px;
    padding-top: 20px;
  }
}
.block4 .btn {
  transition: all 0.5s;
  width: 385px;
  height: 68px;
  line-height: 68px;
  border-radius: 37px;
  background: -moz-linear-gradient(-93deg, #ffa300 3%, #ff8100 100%);
  background: linear-gradient(-93deg, #ffa300 3%, #ff8100 100%);
  background: -ms-linear-gradient(-93deg, #ffa300 3%, #ff8100 100%);
  font-family: "Montserrat";
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  margin: auto;
  margin-top: 45px;
}
.block4 .btn a {
  font-size: 20px;
}
.block4 .btn a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  text-align: center;
  border-radius: 37px;
  background-color: rgba(255, 255, 255, 0);
}
.block4 .btn a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease-in-out;
}
.block4 .btn:hover {
  transform: scale(1.01);
  transition: all 0.5s;
}
@media (max-width: 576px) {
  .block4 h1 {
    font-size: 28.98px;
    margin-top: 50px;
  }
  .block4 .btn {
    transition: all 0.5s;
    width: 100%;
    height: 50.048px;
    line-height: 50.048px;
    border-radius: 37px;
    background: -moz-linear-gradient(-93deg, #ffa300 3%, #ff8100 100%);
    background: linear-gradient(-93deg, #ffa300 3%, #ff8100 100%);
    background: -ms-linear-gradient(-93deg, #ffa300 3%, #ff8100 100%);
    font-family: "Montserrat";
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
    margin-top: 30px;
  }
  .block4 .btn a {
    font-size: 13.8px;
  }
  .block4 .btn a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    text-align: center;
    border-radius: 37px;
    background-color: rgba(255, 255, 255, 0);
  }
  .block4 .btn a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease-in-out;
  }
  .block4 .btn:hover {
    transform: scale(1.01);
    transition: all 0.5s;
  }
}
.block5 {
  background-image: url('/public/images/block5-bg.png');
  background-repeat: no-repeat;
  margin: auto;
  max-width: 1920px;
  width: 100%;
  padding-top: 300px;
  margin-top: -100px;
  padding-bottom: 420px;
}
.block5 h1 {
  font-size: 45px;
  font-family: "Montserrat";
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.778;
  font-weight: normal;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 60px;
  margin-left: 20px;
  margin-right: 20px;
}
.block5 h1 span {
  font-weight: bold;
}
.block5 .wrapper {
  width: 100%;
  max-width: 1180px;
  min-width: 270px;
  margin-left: auto;
  margin-right: auto;
}
.block5 .wrapper .btn {
  transition: all 0.5s;
  width: 385px;
  height: 68px;
  line-height: 68px;
  border-radius: 37px;
  background: -moz-linear-gradient(-93deg, #ffa300 3%, #ff8100 100%);
  background: linear-gradient(-93deg, #ffa300 3%, #ff8100 100%);
  background: -ms-linear-gradient(-93deg, #ffa300 3%, #ff8100 100%);
  font-family: "Montserrat";
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  margin: auto;
  margin-top: 70px;
  max-width: 385px;
}
.block5 .wrapper .btn a {
  font-size: 20px;
}
.block5 .wrapper .btn a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  text-align: center;
  border-radius: 37px;
  background-color: rgba(255, 255, 255, 0);
}
.block5 .wrapper .btn a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease-in-out;
}
.block5 .wrapper .btn:hover {
  transform: scale(1.01);
  transition: all 0.5s;
}
@media (max-width: 576px) {
  .block5 {
    padding-top: 230px;
  }
  .block5 h1 {
    font-size: 28.98px;
  }
  .block5 .wrapper .btn {
    transition: all 0.5s;
    width: calc(100% - 40px);
    height: 50.048px;
    line-height: 50.048px;
    border-radius: 37px;
    background: -moz-linear-gradient(-93deg, #ffa300 3%, #ff8100 100%);
    background: linear-gradient(-93deg, #ffa300 3%, #ff8100 100%);
    background: -ms-linear-gradient(-93deg, #ffa300 3%, #ff8100 100%);
    font-family: "Montserrat";
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
    margin: auto;
    margin-top: 100px;
  }
  .block5 .wrapper .btn a {
    font-size: 13.8px;
  }
  .block5 .wrapper .btn a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    text-align: center;
    border-radius: 37px;
    background-color: rgba(255, 255, 255, 0);
  }
  .block5 .wrapper .btn a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease-in-out;
  }
  .block5 .wrapper .btn:hover {
    transform: scale(1.01);
    transition: all 0.5s;
  }
}
.block6 {
  width: 100%;
  max-width: 1180px;
  min-width: 270px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -200px;
}
.block6 h1 {
  font-size: 45px;
  font-family: "Montserrat";
  color: #010101;
  text-transform: uppercase;
  line-height: 1.444;
  text-align: center;
  font-weight: normal;
  margin-bottom: 60px;
}
.block6 h1 span {
  font-weight: bold;
}
.block6 .feedback-card {
  margin-top: 20px;
  padding: 25px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.05);
}
.block6 .feedback-card .card-header {
  display: flex;
}
.block6 .feedback-card .card-header .avatar {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 148px;
  min-height: 148px;
  width: 148px;
  height: 148px;
  margin-right: 20px;
}
.block6 .feedback-card .card-header .feedback {
  font-size: 16px;
  font-family: "Montserrat";
  color: #010101;
  line-height: 1.5;
}
.block6 .feedback-card .card-header .feedback p {
  padding-bottom: 10px;
}
@media (max-width: 576px) {
  .block6 .feedback-card .card-header {
    flex-wrap: wrap;
  }
  .block6 .feedback-card .card-header .avatar {
    margin: auto;
    margin-bottom: 20px;
  }
}
.block6 .feedback-card .descritpion {
  display: flex;
  align-items: center;
  height: 50px;
}
.block6 .feedback-card .descritpion .item {
  display: flex;
  font-size: 16px;
  font-family: "Montserrat";
  color: #010101;
  line-height: 1.5;
  margin-right: 20px;
  white-space: nowrap;
}
.block6 .feedback-card .descritpion .item .icon {
  display: flex;
  align-items: baseline;
}
.block6 .feedback-card .descritpion .item .icon img {
  margin-right: 8px;
}
@media (max-width: 576px) {
  .block6 .feedback-card .descritpion {
    padding-top: 12px;
    padding-bottom: 12px;
    flex-wrap: wrap;
  }
}
.block6 .feedback-card .photos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 15px;
  grid-auto-rows: 155px;
}
.block6 .feedback-card .photos .photo {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}
.block6 .feedback-card .slider {
  display: none;
}
.block6 .feedback-card .slider .control {
  background-color: rgba(255, 132, 0, 0);
}
.block6 .feedback-card .slider .control:hover {
  background-color: rgba(255, 132, 0, 0);
}
.block6 .feedback-card .slider .control::before {
  background-color: rgba(255, 132, 0, 0.5);
  border: #ff8400 solid 1px;
  border-radius: 50%;
}
@media (max-width: 576px) {
  .block6 .feedback-card .photos {
    display: none;
  }
  .block6 .feedback-card .slider {
    display: flex;
    height: 55vw;
  }
}
@media (max-width: 1180px) {
  .block6 .feedback-card {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media (max-width: 576px) {
  .block6 {
    margin-bottom: 10px;
  }
}
@media (max-width: 1190px) {
  .header-wrapper,
  .block1,
  .block2,
  .block3,
  .block4,
  .block6,
  .block7 {
    margin-left: 25px !important;
    margin-right: 25px !important;
    width: auto !important;
    overflow: hidden !important;
  }
}
