<div class="slider" data-slideWidth="280">
  <div class="control-wrapper control-wrapper-left">
    <div class="control control-left">
      <img src="public/images/arrow-right.png" alt="">
    </div>
  </div>
  <div class="content">
    <img src="public/images/block5-slider-item1.png" alt="">
    <img src="public/images/block5-slider-item2.png" alt="">
    <img src="public/images/block5-slider-item3.png" alt="">
    <img src="public/images/block5-slider-item4.png" alt="">
    <img src="public/images/block5-slider2-item1.png" alt="">
  </div>
  <div class="control-wrapper control-wrapper-right">
    <div class="control control-right">
      <img src="public/images/arrow-right.png" alt="">
    </div>
  </div>
</div>
